extends layout

block content
	.slider-left
	.slider-right
	.container
		h1.text-center #{title}
		form(action='/predictions',method='GET',id='form')
			div.date-container
				input(type='text',name='name',class='form-control',required,placeholder='Enter your name')
			div.date-container
				input(type='text',name='dob',class='date-input form-control',required,placeholder='Select D.O.B')
			div.gender-container.text-center
				label.male
					input(type='radio',name='gender',class='invisible',value='M',required)
				label.female
					input(type='radio',name='gender',class='invisible',value='F',required)
			div.text-center
				button(class='btn submit-btn') Submit
		.result.hide
			p#intro
			p#category
			p#prediction
	script(src="http://malsup.github.com/jquery.form.js")
	script.
		// wait for the DOM to be loaded 
		$(document).ready(function() { 
			// bind 'myForm' and provide a simple callback function 
			var selected = '';
			$('#form')
			.submit(function(){
				$(this).ajaxSubmit({success:function(res,status,xhr,form){
					$('#intro').text(res["intro"].value);
					$('#category').text(res["category"].value);
					$('#prediction').text(res["prediction"].value);
					$('.result').removeClass('hide');
					predendYears(selected);
				}}); 
				return false;
			});
			
			$('.date-input')
			.pickadate({
				format: 'yyyy-mm-dd',
				selectYears: true,
				selectMonths: true,
				min: -353463,
				max: true,
				onOpen: function(){
					predendYears(selected);
				}
			});
			
			$('.male,.female')
			.on('click',function(){
				$('.gender-container label').removeClass('selected');
				$(this).addClass('selected');
			});
			
			function predendYears(selected){
				$('.picker__select--year').html('');
				var options='';
				for(var i = 2015 ; i > 1915; i--){
					if(selected == i){
						options+= "<option value='"+i+"' selected>"+i+"</option>";
					}
					else
						options+= "<option value='"+i+"'>"+i+"</option>";
				}
				$('.picker__select--year').prepend(options);
			}
			predendYears();
			
			$('.picker__select--year').on('change',function(){
				selected = $(this).val();
				predendYears($(this).val());
			});
			
		}); 
